.dashboard {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: 100px auto 50px;
    height: 100vh;
}

header{
    border: 1px solid #ffffff;
    background-color: var(--bg-header);
    color: var(--text-color);
    grid-column: 1/span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav {
    border: 1px solid #ffffff;
    background-color: var(--bg-nav);
    color: var(--text-color);
}

footer {
    border: 1px solid #ffffff;
    background-color: var(--bg-footer);
    color: var(--text-color);
    grid-column: 1/span 2;
    text-align: center;
}

main {
    border: 1px solid #ffffff;
    background-color: var(--bg-main);
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;
}

#themeToggle {
    display: none;
}

:root {
    --bg-header: #02c902;
    --bg-nav: #e5e9e6;
    --bg-main: #f0f0f0;
    --bg-footer: #02c902;
    --text-color: #000000;
}

#themeToggle:checked ~ .dashboard  {
    --bg-header: #1b5e1f;
    --bg-nav: #1a1a1a;
    --bg-main: #2a2a2a;
    --bg-footer: #1b5e1f;
    --text-color: #ffffff;
}