header{
    border: 1px solid #ffffff;
    background-color: #02c902;
    grid-column: 1/span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav {
    border: 1px solid #ffffff;
    background-color: #e5e9e6;
}

main {
    border: 1px solid #ffffff;
    background-color: #f0f0f0;
}

footer {
    border: 1px solid #ffffff;
    background-color: #02c902;
    grid-column: 1/span 2;
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: 100px auto 50px;
    height: 100vh;
}
